* {
  margin: 0;
  padding: 0;
}
body{
  font-size: 18px ;
  background-color: rgb(25, 25, 36);
}
ul {
  list-style-type: none;
  display: flex;
  padding-top: 10px ;
  font-size: 20px;
  font-family: 'Crimson Pro', serif;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: #E6E6E6;
}
a:active {
  background-color: #ED512D;
}

/* Class stylings */
.title{
  display: flex;
  justify-content: flex-start;
  font-family: 'Bebas Neue', cursive;
  color: #15EDA2;
  cursor: pointer ;
  text-shadow: 2.5px 2.5px #0A6E4B;
}
.lol{
  padding: 0 8px;
}
.cs {
  padding: 0 8px;
}
.val {
  padding: 0 8px;
}
.cod {
  padding: 0 8px;
}
.ow {
  padding: 0 8px;
}
.search-bar{
  padding: 10px 10px 0 0;
}
.navbar {
  display: flex;
  flex-flow: row nowrap ;
  justify-content: space-between;
  background-color: #602DED;
}
.future-matches {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 30px 0;
}
.upcoming1 {
  background-color: #55D8F9;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 3%;
  text-align: center;
}
.upcoming2 {
  background-color: #55D8F9;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 3%;
  text-align: center;
}
.upcoming3 {
  background-color: #55D8F9;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 3%;
  text-align: center;
}
.past-matches {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  padding: 40px 0 30px 0;
  
}
.past1 {
  background-color: #0AC7F7;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 3%;
  text-align: center;
}
.past2 {
  background-color: #0AC7F7;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  border-radius: 3%;
  text-align: center;
}
.past3 {
  background-color: #0AC7F7;
  max-width: 20%;
  box-shadow: 0 4px 8px 0 black;
  transition: 0.3s;
  border-radius: 3%;
  text-align: center;
}
.schedule {
  background-color: rgba(255, 255, 255, 0.899) ;
  display:flex;
  flex-flow: row nowrap;
  align-items:flex-start;
  overflow:auto;
  height: 248px;
  margin-right: 20px ;
  margin-left: 20px;
  box-shadow: 0 4px 8px 0 black;
}
.schedule p {
  padding: 8px;
  font-size: 17px;
  text-align: center;
}
.schedule img {
  max-width: 44%;  
margin-left: auto;
margin-right: auto;
}
.footer {
  background-color: #602DED ;
  text-align: center;
  margin-top: 10px;
}
a:link, i {
  color: black;
}

@media screen and (max-width: 780px) {
  .navbar {
 
    width: 100%;
  }
  .schedule {
    margin-top: 100px;
  }
}
@media  screen and (max-width: 1050px) {
  ul {
    font-size: 25px;
  }
  .lol {
    padding-right: 4px;
  }
  .future-matches, .past-matches {
    margin-top: 125px;
  }

  .schedule {
    margin-top: 175px;
  }
}

